body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(2, 13, 163,0.9);
    display: grid;
    place-items: center;
}

.box {
    height: 40vh;
    width: 80vw;
    /* margin: auto; */
    background-color: slateblue;
    box-shadow: 8px 5px 10px grey;
    /* center align */
    display: grid;
    place-items: center;
}

#convert-form {
    text-align: center;
}

label[for='heading'] {
    font-size: 1.5rem;
    color:burlywood;
    font-weight: bold;
}

input[type='number'] {
    margin-right: 1vw;
    width: 9.5vw;
}

#unit {
    margin-left: 1vw;
    width: 9.5vw;
}

form #output {
    margin: 1.5rem;
    text-align: center;
    color:burlywood;
} 